<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/projet4/admin/" module="Chapter" action="index" />
  <route url="/projet4/admin/record" module="Connexion" action="record" />
  <route url="/projet4/admin/disconnect" module="Chapter" action="disconnect" />
  <route url="/projet4/admin/chapter-insert" module="Chapter" action="insert" />
  <route url="/projet4/admin/chapter-update-([0-9]+)" module="Chapter" action="update" vars="id" />
  <route url="/projet4/admin/chapter-delete-([0-9]+)" module="Chapter" action="delete" vars="id" />
  <route url="/projet4/admin/valid-comment-([0-9]+)/chapter-([0-9]+)" module="Chapter" action="validComment" vars="idC,idN" />
  <route url="/projet4/admin/comment-delete-([0-9]+)/chapter-([0-9]+)" module="Chapter" action="deleteComment" vars="idC,idN" />
</routes>
